/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.mobileTab {
  display: none;
  height: 60px;
}

.mobileTab > .toolbar-inner {
  margin-top: 6px;
}

.sideMenuToggle{
  display: none !important;
}

.cardPopuler{
  margin-left:3px;
  margin-right:8px;
  float:none;
  /* min-height: 300px; */
  /* height:2300px; */
  width:350px;
  background:#37474F;
  border-radius:3px; 
  display:inline-block;
}
.hilangDiDesktop {
  display:none;
}

.hilangDiMobile {
  display: block;
}

@media only screen and (max-width: 960px) {
  .mobileTab {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .hilangDiDesktop{
    display: block;
  }

  .hilangDiMobile{
    display: none;
  }
}

.MenuDetail > .menu-item-content {
  background: #f5f5f5;
  color:#434343;
  border-radius: 6px;
}

.pagination{
  display: flex;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  list-style: none;
  border:0px solid #ccc;
  background:white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom:0px;
  right:0px;
  padding-left: 8px;
}

.pagination li {
  display: inline-block;
  border:0px solid #ccc;
  width: 15px;
  height: 15px;
  padding:8px;
  text-align: center;
}

.FabSebaranSekolah > a {
  height: 40px;
}

.FabSebaranSekolah > a > div {
  font-size: 12px;
}

.listSekolah > .item-content > .item-inner > .item-title-row > .item-title {
  font-size: 12px;
}

.listSekolah > .item-content > .item-inner > .item-subtitle {
  font-size: 10px;
}

.read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 20px 0; 
  height: 100px;
	
  /* background-image: linear-gradient(to bottom, transparent 35%, white 65%); */
}

.mainMenu .page {
  background-color: #ffffff;
}

.page-content {
  width: 100%;
  padding-top: 44px;
}

.contentApp {
  padding: 1rem;
}

.gridMenu {
  display: flex;
  margin: 0;
  padding: 0;
}

.gridMenu .link {
  display: flex;
  width: 96px;
  height: 96px;
  margin-right: 1rem;
  flex-direction: column;
  overflow: hidden;
  font-size: .75rem;
  border-radius: .25rem;
  font-weight: 600;
  background: #ffffff;
  position: relative;
  color: #1e1e1e;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 0 #007aff24;
  border: 1px solid transparent;
}

.gridMenu .link:hover {
  display: flex;
  width: 96px;
  height: 96px;
  margin-right: 1rem;
  flex-direction: column;
  overflow: hidden;
  font-size: .75rem;
  border-radius: .25rem;
  font-weight: 600;
  background: #ffffff;
  position: relative;
  color: #1e1e1e;
  box-shadow: 0 0 10px #007aff24;
  border: 1px solid #007aff29;
}

.gridMenu .link img {
  height: 36px;
  margin-right: .375rem;
  position: relative;
  margin-bottom: .375rem;
}

.rekapitulasiProgres {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.rekapitulasiProgres .rekapItem {
  padding: .875rem;
  background-color: #2196f31f;
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.rekapitulasiProgres .rekapItem .rekapDesc {
  position: relative;
  width: 100%;
}

.rekapitulasiProgres .rekapItem .rekapDesc h4 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: .875rem;
  font-weight: 500;
}

.rekapitulasiProgres .rekapItem .rekapDesc h4 strong {
  display: block;
  font-size: 1.5rem;
}

.rekapitulasiProgres .rekapItem .rekapDesc h5 {
  margin-top: 0;
  margin-bottom: .5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
  font-weight: 400;
  color: #595959;
}

.rekapitulasiProgres .rekapItem .rekapDesc .rekapAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .625rem;
}

.rekapitulasiProgres .rekapItem .rekapDesc .rekapAction p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: .875rem;
  color: #000;
}

.rekapitulasiProgres .rekapItem.blue { background-color: #778fa312; }

.rekapitulasiProgres .rekapItem.blue .rekapDesc h4 { color: #2196f3; }

.rekapitulasiProgres .rekapItem.red { background-color: #ff3b3012; }

.rekapitulasiProgres .rekapItem.red .rekapDesc h4 { color: #ff3b30; }

.rekapitulasiProgres .rekapItem.pink { background-color: #ff2d5512; }

.rekapitulasiProgres .rekapItem.pink .rekapDesc h4 { color: #ff2d55; }

.rekapitulasiProgres .rekapItem.green { background-color: #4cd96412; }

.rekapitulasiProgres .rekapItem.green .rekapDesc h4 { color: #4cd964; }

.rekapitulasiProgres .rekapItem.deeppurple { background-color: #673ab712; }

.rekapitulasiProgres .rekapItem.deeppurple .rekapDesc h4 { color: #673ab7; }

.rekapitulasiProgres .rekapItem.orange { background-color: #ff950012; }

.rekapitulasiProgres .rekapItem.orange .rekapDesc h4 { color: #ff9500; }

.pelaksanaanPpdb {
  margin: 0;
  padding: 0;
}

.jadwalPpdb {
  width: 100%;
  display: block;
}

.jadwalPpdb .card {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  box-shadow: none;
}

.jadwalPpdb .card .card-header {
  color: #ff9f1c;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  padding: .75rem;
}

.jadwalPpdb .card .card-header .subHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: .5rem;
}

.jadwalPpdb .card .card-header .subHeader > div {
  display: flex;
  position: relative;
}

.jadwalPpdb .card .card-header .subHeader > div i { margin-right: .25rem; }

.jadwalPpdb .card .card-header .subHeader > div span {
  display: block;
  font-size: .875rem;
  color: #00000080;
  font-weight: 600;
}

.jadwalPpdb .card .card-content {
  padding: .5rem .75rem;
  background-color: #ff9f1c08;
}

.jadwalPpdb .card .card-content .jadwalCountdown {
  display: flex;
  justify-content: space-between;
}

.jadwalPpdb .card .card-content .jadwalCountdown .jadwalItem {
  text-align: center;
  width: 100%;
  min-width: auto;
  min-height: 32px;
  margin: .25rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #ffffff2b;
  color: #515151;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4rem;
  box-shadow: -4px 4px 10px #00000012;
}

.jadwalPpdb .card .card-content .jadwalCountdown .jadwalItem span {
  display: block;
  font-size: .875rem;
  font-weight: 400;
  margin-left: .375rem;
}

.jadwalPpdb .media-list {
  padding: 0;
  margin: 0;
}

.jadwalPpdb .list ul:before,
.jadwalPpdb .list ul:after {
  content: '';
  display: none;
}

.jadwalPpdb .list .item-title-row { font-size: .875rem; }

.formRegisterWidget {
  display: block;
  margin: 4rem auto 0;
  max-width: 200px;
  background-color: #f5f5fb;
  padding: 1.25rem 2rem;
  border-radius: .625rem;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.formRegisterWidget img {
  width: 100%;
  max-width: 150px;
  margin-top: -4rem;
}

.formRegisterWidget p {
  margin-top: 0;
  display: block;
  text-align: center;
  font-size: .875rem;
}

.page {
  width: 100%;
  background-color: #f5f5fb;
}

.mainMenu {
  display: block;
  left: 0;
}

.mainMenu .navbar {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px #00000014;
}

.mainMenu .navbar .navbar-inner {
  justify-content: center;
  flex-direction: row-reverse;
}

.mainMenu .navbar .navbar-inner .title {
  text-transform: uppercase;
  left: 0 !important;
}

.mainMenu .navbar .navbar-inner img {
  display: block;
  margin-right: .375rem;
}

.mainMenu .list .item-link { font-size: .875rem; }

.mainMenu .list .item-content { min-height: 38px; }

.mainMenu .list .item-media {
  padding-top: 0;
  padding-bottom: 0;
}

.mainMenu .list .item-media + .item-inner {
  margin-left: .375rem;
  min-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
}

.mainMenu .list .item-link .item-inner:before { color: #e6e6e6; }

.mainMenu .list ul li a .item-media .f7-icons {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #007aff;
}

.view > .navbar {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px #00000014;
}

.mainMenu::before,
.mainMenu .navbar::before,
.mainMenu .navbar::after,
.view > .navbar::before,
.view > .navbar::after,
.mainMenu .list ul:before,
.mainMenu .list ul:after,
.mainMenu .list .item-inner:after {
  content: '';
  display: none;
}

.resumeTable {
  position: relative;
  width: 100%;
}

.resumeTable .data-table {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
