.inputNumber input[type="number"]::-webkit-outer-spin-button,
.inputNumber input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputNumber input[type="number"] { -moz-appearance: textfield; }

.checkBtn {
  position: absolute;
  width: 85px;
  right: 0;
  margin-top: 24px;
  margin-right: 15px;
}

.device-cordova.device-ios { height: 100vh; }

.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] { display: none; }

.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.mobileTab {
  display: none;
  height: 60px;
  background-color: transparent;
}

.mobileTab:before {
  content: '';
  display: none;
}

.mobileTab > .toolbar-inner {
  height: 52px;
  bottom: 0;
  top: auto;
  overflow: visible;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07843);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07843);
}

.mobileTab > .toolbar-inner > a { padding: 4px 0 !important; }

.mobileTab > .toolbar-inner > a.formulir--menu {
  background-image: -o-linear-gradient(328.3deg, rgba(41,116,250,1) 22.9%, rgba(67,212,255,1) 69%);
  background-image: linear-gradient(121.7deg, rgba(41,116,250,1) 22.9%, rgba(67,212,255,1) 69%);
  color: #fff;
  height: 60px;
  padding: 8px 0 !important;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 0;
  position: relative;
  bottom: 0;
}

.mobileTab > .toolbar-inner > a > i { font-size: 20px; }

.mobileTab > .toolbar-inner > a > span { font-size: .75rem; }

.sideMenuToggle { display: none !important; }

.cardPopuler {
  margin-left: 3px;
  margin-right: 8px;
  float: none;
  width: 350px;
  background: #37474F;
  border-radius: 3px; 
  display: inline-block;
}

.hilangDiDesktop { display: none; }

.hilangDiMobile { display: block; }

@media only screen and (max-width: 960px) {
  .mobileTab { display: block; }
}

@media only screen and (max-width: 768px) {
  .hilangDiDesktop{ display: block; }

  .hilangDiMobile{ display: none; }
}

.MenuDetail > .menu-item-content {
  background: #f5f5f5;
  color:#434343;
  border-radius: 6px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border: 0px solid #ccc;
  background: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0px;
  right: 0px;
  padding-left: 8px;
}

.pagination li {
  display: inline-block;
  border: 0px solid #ccc;
  width: 15px;
  height: 15px;
  padding: 8px;
  text-align: center;
}

.FabSebaranSekolah > a { height: 40px; }

.FabSebaranSekolah > a > div { font-size: 12px; }

.listSekolah > .item-content > .item-inner > .item-title-row > .item-title { font-size: 12px; }

.listSekolah > .item-content > .item-inner > .item-subtitle { font-size: 10px; }

.read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 20px 0; 
  height: 100px;
}

.page {
  width: 100%;
  background-color: #f5f5fb;
}

.page-content {
  width: 100%;
  padding-top: 44px;
  padding-bottom: 16px;
}

.contentApp {
  padding: 0;
  overflow: hidden;
  position: relative;
  margin-top: -44px;
}

.mainMenu {
  display: block;
  left: 0;
}

.mainMenu .page { background-color: #ffffff; }

.mainMenu .navbar {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #00000014;
  box-shadow: 0 0 10px #00000014;
}

.mainMenu .navbar .navbar-inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.mainMenu .navbar .navbar-inner .title {
  text-transform: uppercase;
  left: 0 !important;
  color: #125034;
}

.mainMenu .navbar .navbar-inner img {
  display: block;
  margin-right: .375rem;
}

.mainMenu .list .item-link { font-size: .875rem; }

.mainMenu .list .item-content { min-height: 38px; }

.mainMenu .list .item-media {
  padding-top: 0;
  padding-bottom: 0;
}

.mainMenu .list .item-media + .item-inner {
  margin-left: .375rem;
  min-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
}

.mainMenu .list .item-link .item-inner:before { color: #e6e6e6; }

.mainMenu .list ul li a .item-media .f7-icons {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #007aff;
}

.view > .navbar {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #00000014;
  box-shadow: 0 0 10px #00000014;
}

.ios .navbar .left a + a, 
.ios .navbar .right a + a { margin-left: .25rem; }

.mainMenu::before,
.mainMenu .navbar::before,
.mainMenu .navbar::after,
.view > .navbar::before,
.view > .navbar::after,
.mainMenu .list ul:before,
.mainMenu .list ul:after,
.mainMenu .list .item-inner:after {
  content: '';
  display: none;
}

.bgMain {
  position: absolute;
  top: 0;
  height: 290px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  z-index: -1;
  background-image: -o-linear-gradient(110deg, #b721ff 0%, #21d4fd 100%);
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  -webkit-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  transform: scaleX(1.2);
}

/* bgmain2 */
.bgMain2 {
  position: absolute;
  top: 0;
  height: 290px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  z-index: -1;
  background-image: -o-linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  /* background-image: -o-linear-gradient(110deg, #b721ff 0%, #21d4fd 100%); */
  /* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%); */
  -webkit-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  transform: scaleX(1.2);
}
/* end of bgmain2 */

.titleMain {
  font-weight: bold;
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-top: 74px;
  margin-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}

.titleMain img { margin-bottom: .25rem; }

.titleMain h2 {
  margin: 0;
  font-size: 1.875rem;
}

.titleMain h6 {
  margin: 0;
  font-size: .75rem;
  display: block;
}

.gridMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 20px 10px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gridMenu .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 96px;
  height: 96px;
  margin-right: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  font-size: .75rem;
  border-radius: .25rem;
  font-weight: 600;
  background: #ffffff;
  position: relative;
  line-height: 1.2;
  color: #1e1e1e;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 0 0 #007aff24;
  box-shadow: 0 0 0 #007aff24;
  border: 1px solid transparent;
}

.gridMenu .link:last-child { margin-right: 0; }

.gridMenu .link:hover {
  -webkit-box-shadow: 0 0 10px #007aff24;
  box-shadow: 0 0 10px #007aff24;
  border: 1px solid #007aff29;
}

.gridMenu .link img {
  height: 36px;
  position: relative;
  margin-bottom: .375rem;
}

.rekapitulasiProgres {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  margin-top: 16px;
  position: relative;
  width: 100%;
}

.rekapitulasiProgres .rekapItem {
  overflow: hidden;
  position: relative;
  padding: .875rem;
  background-color: #2196f31f;
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.rekapitulasiProgres .rekapItem .bgIcon {
  position: absolute;
  width: 128px;
  right: -16px;
  bottom: -32px;
  z-index: 1;
  opacity: .1;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  pointer-events: none;
}

.rekapitulasiProgres .rekapItem .rekapDesc {
  position: relative;
  width: 100%;
}

.rekapitulasiProgres .rekapItem .rekapDesc h4 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: .875rem;
  font-weight: 500;
}

.rekapitulasiProgres .rekapItem .rekapDesc h4 strong {
  display: block;
  font-size: 1.5rem;
}

.rekapitulasiProgres .rekapItem .rekapDesc h5 {
  margin-top: 0;
  margin-bottom: .5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: .75rem;
  font-weight: 400;
  color: #ffffffdb;
}

.rekapitulasiProgres .rekapItem .rekapDesc h5 span i { font-style: normal; }

.rekapitulasiProgres .rekapItem .rekapDesc .progressbar { background-color: #ffffff; }

.rekapitulasiProgres .rekapItem .rekapDesc .rekapAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: .625rem;
}

.rekapitulasiProgres .rekapItem .rekapDesc .rekapAction p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: .875rem;
  color: #fefefe;
}

.rekapitulasiProgres .rekapItem.rekap--zonasi { background-image: -o-radial-gradient(5.2% 14.3%,  circle farthest-corner,  rgba(255,73,18,1) 0%, rgba(235,118,36,1) 47.4%, rgba(235,69,69,1) 100.2%); background-image: radial-gradient(circle farthest-corner at 5.2% 14.3%,  rgba(255,73,18,1) 0%, rgba(235,118,36,1) 47.4%, rgba(235,69,69,1) 100.2%); }

.rekapitulasiProgres .rekapItem.rekap--afirmasi { background-image: -o-radial-gradient(10% 20%,  circle farthest-corner,  rgba(15,213,172,1) 0%, rgba(34,182,198,1) 100.2%); background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(15,213,172,1) 0%, rgba(34,182,198,1) 100.2%); }

.rekapitulasiProgres .rekapItem.rekap--prestasi { background-image: -o-radial-gradient(10% 20%,  circle farthest-corner,  rgba(228,118,0,1) 0%, rgba(247,189,2,1) 90%); background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(228,118,0,1) 0%, rgba(247,189,2,1) 90%); }

.rekapitulasiProgres .rekapItem.rekap--ortu { background-image: -o-radial-gradient(5.8% 11.8%,  circle 997px,  rgba(0,201,235,1) 0%, rgba(145,0,228,1) 90%); background-image: radial-gradient(circle 997px at 5.8% 11.8%,  rgba(0,201,235,1) 0%, rgba(145,0,228,1) 90%); }

.pelaksanaanPpdb {
  margin: 0;
  padding: 1rem;
}

.jadwalPpdb {
  width: 100%;
  display: block;
}

.jadwalPpdb .card {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jadwalPpdb .card .card-header {
  color: #ff9f1c;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 700;
  padding: .875rem .75rem;
}

.jadwalPpdb .card .card-header:after {
  content: '';
  display: none;
}

.jadwalPpdb .card .card-header .subHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: .5rem;
}

.jadwalPpdb .card .card-header .subHeader > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.jadwalPpdb .card .card-header .subHeader > div i { margin-right: .25rem; }

.jadwalPpdb .card .card-header .subHeader > div span {
  display: block;
  font-size: .875rem;
  color: #00000080;
  font-weight: 600;
}

.jadwalPpdb .card .card-content {
  padding: 0 .5rem .75rem;
  background-color: #ff9f1c08;
}

.jadwalPpdb .card .card-content .jadwalCountdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jadwalPpdb .card .card-content .jadwalCountdown .jadwalItem {
  text-align: center;
  width: 100%;
  min-width: auto;
  min-height: 32px;
  margin: .25rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #ff9f1c;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: .4rem;
  -webkit-box-shadow: -2px 2px 0 1px #e88c0d;
  box-shadow: -2px 2px 0 1px #e88c0d;
}

.jadwalPpdb .card .card-content .jadwalCountdown .jadwalItem span {
  display: block;
  font-size: .875rem;
  font-weight: 400;
  margin-left: .25rem;
}

.jadwalPpdb .media-list {
  padding: 0;
  margin: 0;
}

.jadwalPpdb .list ul:before,
.jadwalPpdb .list ul:after {
  content: '';
  display: none;
}

.jadwalPpdb .list .item-title-row { font-size: .875rem; }

.formRegisterWidget {
  display: block;
  margin: 2rem auto 0;
  max-width: 200px;
  background-color: #f5f5fb;
  padding: 1rem;
  border-radius: .625rem;
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

.formRegisterWidget img {
  width: 100%;
  max-width: 130px;
  margin-top: -3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: .25rem;
}

.formRegisterWidget p {
  margin-top: 0;
  display: block;
  text-align: center;
  font-size: .75rem;
}

.resumeTable {
  position: relative;
  width: 100%;
}

.resumeTable .data-table {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.riwayatPencarian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 44px 0 0 0;
  padding: .75rem 1rem;
  background-color: #fff;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.riwayatPencarian span {
  display: block;
  min-width: 120px;
}

.riwayatPencarian .daftarRiwayat {
  display: block;
  width: 100%;
}

.riwayatPencarian .daftarRiwayat a {
  display: inline-block;
  padding: .125rem .625rem;
  background-color: #eee;
  border-radius: .25rem;
  color: #444;
  margin-left: .25rem;
  border: 1px solid #e0e0e0;
}

.riwayatPencarian .hapusRiwayat {
  position: absolute;
  right: 1rem;
}

.daftarPencarian {
  margin: 0;
  padding: 1rem;
}

.daftarPencarian .tabs {
  height: auto;
  margin-top: 1.5rem;
}

.daftarPencarian .tabs > .tab {
  padding: 0;
  height: auto;
}

.daftarPencarian .tabs > .tab .block-title { margin: 0 0 1rem; }

.daftarPencarian .tabs > .tab .demo-card-header-pic { margin: 0 0 .5rem; }

.daftarPencarian .tabs > .tab .demo-card-header-pic:last-child { margin: 0; }

.title-large { background-color: transparent !important; }

.title-large .title-large-text { font-size: 1.5rem; }

.navbar .title-large:after {
  content: '';
  display: none !important;
}

.pageWithTitle {
  margin: 53px 0 0 0;
  padding: .25rem 1rem 1rem;
}

.pageWithTitle .segmented { margin-bottom: 1rem; }

.pageWithTitle .card {
  position: relative;
  margin: 0 0 1rem 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pageWithTitle .card:last-child { margin: 0; }

.pageWithTitle .card .card-header {
  background-color: #ff9f1c;
  color: #fff;
  font-weight: 600;
  padding: .5rem 1rem;
  min-height: auto;
}

.pageWithTitle .card .card-header:after {
  content: '';
  display: none;
}

.simpanFormulir {
  margin: 1rem 0 0;
  padding: 0;
  width: 100%;
}

.daftarSekolah .item-content { min-height: 35px; }

.daftarSekolah .item-content .item-inner {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 35px;
}

.daftarPeserta {
  position: relative;
  width: 100%;
}

.daftarPeserta .card {
  overflow: hidden;
  margin: 0 0 1rem;
  border-top: 2px solid #007aff61;
}

.daftarPeserta .card:last-child { margin: 0; }

.daftarPeserta .card .card-header {
  min-height: auto;
  height: auto;
  padding: .5rem 1rem;
  background-image: -o-radial-gradient(25.3% 13.8%, circle 621px, rgba(255,255,255,1) 0%, rgb(234, 243, 255) 90%);
  background-image: radial-gradient(circle 621px at 25.3% 13.8%, rgba(255,255,255,1) 0%, rgb(234, 243, 255) 90%);
}

.daftarPeserta .card .card-header:after {
  content: '';
  display: none;
}

.daftarPeserta .card .card-header a {
  font-size: 1rem;
  color: #007aff;
}

.daftarPeserta .card .card-header a i {
  background-color: #ffffff;
  color: #007aff;
  padding: .375rem;
  border-radius: 50%;
  margin-right: .375rem;
  -webkit-box-shadow: 0px 2px 5px #007aff2b;
  box-shadow: 0px 2px 5px #007aff2b;
}

.daftarPeserta .card .card-header a h3 { margin: 0; }

.daftarPeserta .card .card-header a h3 span {
  color: #007aff;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: .125rem;
}

.daftarPeserta .card .card-content { padding: 1rem; }

.daftarPeserta .card .card-content .tentangPeserta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.6;
}

.daftarPeserta .card .card-content .tentangPeserta > span {
  position: relative;
  min-width: 130px;
}

.daftarPeserta .card .card-content .tentangPeserta > span::after {
  content: ':';
  display: inline-block;
  position: absolute;
  right: 6px;
}

.daftarPeserta .card .card-content .tentangPeserta .daftarLabel {
  display: inline-block;
  padding: 0 .625rem;
  border-radius: .25rem;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 140px;
  width: 100%;
  text-align: center;
}

.daftarPeserta .card .card-content .tentangPeserta .daftarLabel.sudah--daftar {
  background-color: #008758;
  color: #fff;
  -webkit-box-shadow: 4px 4px 10px #00875840;
  box-shadow: 4px 4px 10px #00875840;
}

.daftarPeserta .card .card-content .tentangPeserta .daftarLabel.belum--daftar {
  background-color: #f0f0f0;
  color: #ff3b30;
  -webkit-box-shadow: 4px 4px 10px #f0f0f040;
  box-shadow: 4px 4px 10px #f0f0f040;
}

.daftarPeserta .card .card-footer {
  position: static;
  min-height: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.daftarPeserta .card .card-footer:before {
  content: '';
  display: none;
}

.daftarPeserta .card .card-footer .button {
  position: absolute;
  top: 9px;
  right: 16px;
}

.daftarSekolah {
  position: relative;
  width: 100%;
}

.daftarSekolah.daftarPdSekolah {
  position: relative;
  padding: 1rem;
  margin-top: 44px;
  width: auto;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .25rem;
  overflow: hidden;
  margin-top: 1rem;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p {
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.2;
  border-radius: 0;
  margin: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-shadow: 0 0 20px #0000003b;
  box-shadow: 0 0 20px #0000003b;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p:nth-of-type(1) {
  background-color: #ff9500;
  color: #f1f1f1;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p:nth-of-type(2) {
  background-color: #673ab7;
  color: #f1f1f1;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p:nth-of-type(3) {
  background-color: #2196f3;
  color: #f1f1f1;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p:nth-of-type(4) {
  background-color: #009688;
  color: #f1f1f1;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p a {
  background-image: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  min-height: auto !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.daftarSekolah.daftarPdSekolah .sekolahStatistik p b {
  display: block;
  font-size: 1.25rem;
}

.daftarSekolah .card {
  overflow: hidden;
  margin: 0 0 1rem;
  border-top: 2px solid #ff6b2261;
}

.daftarSekolah .card:last-child { margin: 0; }

.daftarSekolah .card .card-content {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.daftarSekolah .card .card-content .gambarSekolah {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 148px;
  height: 148px;
  display: block;
  position: relative;
  min-width: 148px;
}

.daftarSekolah .card .card-content .gambarSekolah img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.daftarSekolah .card .card-content .tentangSekolah {
  width: 100%;
  padding: .75rem 1rem;
}

.daftarSekolah .card .card-content .tentangSekolah h3 {
  margin: 0 0 .25rem 0;
  display: block;
  min-height: 29px;
  line-height: 29px;
  color: #ff6b22;
}

.daftarSekolah .card .card-content .tentangSekolah h3 span { margin-right: .25rem; }

.daftarSekolah .card .card-content .tentangSekolah .keteranganSekolah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.6;
}

.daftarSekolah .card .card-content .tentangSekolah .keteranganSekolah > span {
  position: relative;
  min-width: 90px;
}

.daftarSekolah .card .card-content .tentangSekolah .keteranganSekolah > span::after {
  content: ':';
  display: inline-block;
  position: absolute;
  right: 6px;
}

.daftarSekolah .card .card-footer {
  position: static;
  min-height: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.daftarSekolah .card .card-footer:before {
  content: '';
  display: none;
}

.daftarSekolah .card .card-footer .button {
  position: absolute;
  top: 11px;
  right: 16px;
}

.steps {
  padding: 0;
  overflow: hidden;
}

.steps .button {
  margin-left: 0;
  width: 25%;
  height: 40px;
  padding: 5px 5px 5px 30px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: visible;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none !important;
}

.steps .button:first-child { padding-left: 5px; }

.steps .button:nth-child(n+2)::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 25px solid #f0f0f2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  width: 0;
  height: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.steps .button::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  right: -25px;
  display: block;
  border-left: 25px solid #7c8437;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  width: 0;
  height: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.steps .button { background-color: #ebebeb; }

.steps .button::after { border-left-color: #ebebeb; }

.steps .button.tab-link-active { background-color: #673ab7; }

.steps .button.tab-link-active::after { border-left-color: #673ab7; }

.steps .button:hover { background-color: #9c27b0; }

.steps .button:hover::after { border-left-color: #9c27b0; }

.noRegistration {
  width: 100%;
  margin: 0;
}

.noRegistration .card-content {
  padding: 1rem;
  text-align: center;
}

.noRegistration .card-content img {
  height: 128px;
  opacity: .75;
  display: block;
  max-width: 100%;
  margin: 0 auto .625rem;
}

.noRegistration .card-content h4 {
  margin: 0 0 1rem;
  font-weight: 400;
}

.noRegistration .card-content a {
  display: inline-block;
  padding: 0 1rem;
}

.daftarKegiatan {
  position: relative;
  padding: 1rem;
  margin-top: 44px;
}

.daftarKegiatan .judulKegiatan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: .25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -o-radial-gradient(10% 20%,  circle farthest-corner,  rgb(0, 178, 236) 0%, rgba(152,70,242,1) 100.2%);
  background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgb(0, 178, 236) 0%, rgba(152,70,242,1) 100.2%);
}

.daftarKegiatan .judulKegiatan h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.daftarKegiatan .judulKegiatan .tautanKegiatan {
  position: relative;
  display: block;
}

.daftarKegiatan .judulKegiatan .tautanKegiatan .button {
  margin-left: .5rem;
  display: inline-block;
}

.daftarKegiatan .card {
  overflow: hidden;
  margin: 0 0 1rem;
  border-top: 2px solid #9648f261;
}

.daftarKegiatan .card:last-child { margin: 0; }

.daftarKegiatan .card .card-header {
  min-height: auto;
  height: auto;
  padding: .5rem 1rem;
  background-image: -o-radial-gradient(25.3% 13.8%, circle 621px, rgba(255,255,255,1) 0%, rgb(234, 243, 255) 90%);
  background-image: radial-gradient(circle 621px at 25.3% 13.8%, rgba(255,255,255,1) 0%, rgb(234, 243, 255) 90%);
}

.daftarKegiatan .card .card-header:after {
  content: '';
  display: none;
}

.daftarKegiatan .card .card-header a {
  font-size: .875rem;
  color: #007aff;
}

.daftarKegiatan .card .card-header a i {
  background-color: #ffffff;
  color: #9846f2;
  padding: .375rem;
  border-radius: 50%;
  margin-right: .375rem;
  -webkit-box-shadow: 0px 2px 5px #007aff2b;
  box-shadow: 0px 2px 5px #007aff2b;
}

.daftarKegiatan .card .card-header a h3 { margin: 0; }

.daftarKegiatan .card .card-header a h3 span {
  color: #252525;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: .125rem;
}

.daftarKegiatan .card .card-content { padding: 1rem; }

.daftarKegiatan .card .card-content .tentangKegiatan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.6;
}

.daftarKegiatan .card .card-content .tentangKegiatan > span {
  position: relative;
  min-width: 110px;
}

.daftarKegiatan .card .card-content .tentangKegiatan > span::after {
  content: ':';
  display: inline-block;
  position: absolute;
  right: 6px;
}

.daftarKegiatan .card .card-content .tentangKegiatan .daftarLabel {
  display: inline-block;
  padding: 0 .625rem;
  border-radius: .25rem;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 140px;
  width: 100%;
  text-align: center;
}

.daftarKegiatan .card .card-content .tentangKegiatan .daftarLabel.sudah--daftar {
  background-color: #008758;
  color: #fff;
  -webkit-box-shadow: 4px 4px 10px #00875840;
  box-shadow: 4px 4px 10px #00875840;
}

.daftarKegiatan .card .card-content .tentangKegiatan .daftarLabel.belum--daftar {
  background-color: #f0f0f0;
  color: #ff3b30;
  -webkit-box-shadow: 4px 4px 10px #f0f0f040;
  box-shadow: 4px 4px 10px #f0f0f040;
}

.daftarKegiatan .card .card-footer {
  position: static;
  min-height: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.daftarKegiatan .card .card-footer:before {
  content: '';
  display: none;
}

.daftarKegiatan .card .card-footer .cardActions {
  position: absolute;
  top: 9px;
  right: 16px;
}

.daftarKegiatan .card .card-footer .cardActions .button {
  display: inline-block;
  margin-left: .5rem;
}

.daftarKegiatan .card .card-footer .cardActions .button:first-child { margin-left: 0; }

.noDaftarKegiatan {
  width: 100%;
  margin: 0;
}

.noDaftarKegiatan .card-content {
  padding: 1rem !important;
  text-align: center;
  background-color: #fff !important;
}

.noDaftarKegiatan .card-content img {
  height: 128px;
  opacity: .75;
  display: block;
  max-width: 100%;
  margin: 0 auto .625rem;
}

.noDaftarKegiatan .card-content h4 {
  margin: 0 0 1rem;
  font-weight: 400;
}

.noDaftarKegiatan .card-content a {
  display: inline-block;
  padding: 0 1rem;
}

.profileProgress {
  height: 4px;
  position: absolute;
  top: 44px;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 0;
}

.userProfile {
  margin: 0;
  padding: 1rem;
}

.userProfile .userImage {
  margin: 0;
  border-radius: .25rem;
  overflow: hidden;
}

.userProfile .userImage .bgUserWrap {
  position: relative;
  height: 128px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.userProfile .userImage .bgUserWrap .bgUserImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  transform: scale(1.5);
}

.userProfile .userImage img {
  width: 96px;
  height: 96px;
  display: block;
  margin: -48px auto 0;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}

.userProfile .userImage .userNameBlock {
  position: relative;
  padding: 1rem 1rem 2rem;
}

.userProfile .userImage .userNameBlock h1 {
  margin: 0;
  text-align: center;
  display: block;
  color: #007aff;
}

.userProfile .userImage .userNameBlock span {
  display: block;
  text-align: center;
}

.userProfile .userImage .userNameBlock .button {
  display: flex;
  font-size: 1rem;
  max-width: 128px;
  height: 35px;
  margin: 2rem auto 0;
}

.userProfile .userDesc {
  margin: 0;
  border-radius: .25rem;
  overflow: hidden;
}

.userProfile .profileActions {
  display: none;
  width: 100%;
  margin-top: 1rem;
}

.userProfile .profileActions .button {
  display: flex;
  font-size: 1rem;
  height: 35px;
}

.noLoadContent {
  position: relative;
  border-top: 0 solid transparent !important;
}

.noLoadContent .card-content {
  display: block;
  padding: 2rem !important;
  text-align: center;
}

.noLoadContent .card-content img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.noLoadContent .card-content h4 {
  margin: 10px 0 0;
  font-weight: 400;
  color: #6d6d72;
  font-size: 16px;
}

.noLoadContent .card-content .button { margin-top: 10px; }

.listProgressBar {
  position: absolute;
  top: 88px;
  width: 100%;
  height: 3px;
  border-radius: 0;
}

.inputNik .item-input-wrap input,
.inputNisn .item-input-wrap input { padding-right: 130px; }

.inputNik .item-input-wrap .input-clear-button,
.inputNisn .item-input-wrap .input-clear-button {
  right: 100px;
  top: 24px;
}

.registrationDashboard {
  width: 100%;
  position: relative;
  margin: 0;
}

.registrationDashboard .card-header {
  min-height: auto;
  height: auto;
  padding: .5rem 1rem;
  background-image: radial-gradient(circle 621px at 25.3% 13.8%, rgba(255,255,255,1) 0%, rgb(234, 243, 255) 90%);
}

.registrationDashboard .card-header:after {
  content: '';
  display: none;
}

.registrationDashboard .card-header .link {
  font-size: 1rem;
  color: #007aff;
}

.registrationDashboard .card-header .link i {
  background-color: #ffffff;
  color: #007aff;
  padding: .25rem;
  border-radius: 50%;
  margin-right: .375rem;
  box-shadow: 0px 2px 5px rgba(0,122,255,0.16863);
}

.registrationDashboard .card-header .link h3 {
  margin: 0;
  color: #007aff;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: .125rem;
  font-size: 1rem;
}

.registrationDashboard .card-content {
  position: relative;
  padding: 15px;
}

.registrationDashboard .card-content .registrationItem {
  overflow: hidden;
  border-radius: .25rem;
  background-color: #ededed;
  box-shadow: 0 0 10px #00000014;
}

.registrationDashboard .card-content .registrationItem .registrationImage {
  width: 100%;
  height: 80px;
  background-size: cover;
  background-position: center;
}

.registrationDashboard .card-content .registrationItem .registrationDesc {
  max-width: calc(100% - 40px);
  display: block;
  background-color: #ffffffe3;
  margin: -40px auto 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  border-radius: .25rem;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1098);
}

.registrationDashboard .card-content .registrationItem .registrationDesc h4 {
  margin: 0;
  display: block;
  font-weight: 400;
  color: #000;
}

.registrationDashboard .card-content .registrationItem .registrationDesc h4 span {
  display: block;
  font-weight: 700;
  color: #007aff;
}

.registrationDashboard .card-content .registrationItem .registrationDesc p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}

.registrationDashboard .card-content .registrationItem .registrationDesc h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.loginPage {
  width: 100%;
  position: relative;
}

.loginPage .page-content {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -o-linear-gradient(328.3deg, rgba(41,116,250,1) 22.9%, rgba(67,212,255,1) 69%);
  background-image: linear-gradient(121.7deg, rgba(41,116,250,1) 22.9%, rgba(67,212,255,1) 69%);
  overflow: hidden;
}

.loginPage .page-content .loginProgress {
  height: 4px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 0;
}

.loginPage .page-content .loginBox {
  max-width: 380px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 50px #0000001f;
  box-shadow: 0px 9px 50px #0000001f;
}

.loginPage .page-content .loginBox .logoApp {
  position: relative;
  display: block;
}

.loginPage .page-content .loginBox .logoApp img {
  height: 72px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.loginPage .page-content .loginBox .logoApp .login-screen-title {
  margin-top: .375rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #125034;
  text-transform: uppercase;
}

.loginPage .page-content .loginBox .list li { margin-bottom: .5rem; }

.loginPage .page-content .loginBox .list .item-content { padding-left: 0; }

.loginPage .page-content .loginBox .list .item-input .item-inner { padding-right: 0; }

.loginPage .page-content .loginBox .loginActions { display: block; }

.loginPage .page-content .loginBox .loginActions .loginBtn {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginPage .page-content .loginBox .loginActions .loginBtn i { margin-right: .375rem; }

.loginPage .page-content .loginBox .loginActions .loginDivider {
  text-align: center;
  width: 100%;
  margin: .625rem 0;
}

.loginPage .page-content .loginBox .loginActions .googleBtn {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .25rem !important;
}

.loginPage .page-content .loginBox .loginActions .googleBtn > div {
  margin-right: .5rem !important;
  background: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 18px !important;
}

.loginPage .page-content .loginBox .loginFooter {
  margin: 0;
  text-align: center;
  padding-top: 3rem;
  color: #8d8d8d;
}

/* loginpage2 */
.loginPage2 {
  width: 100%;
  position: relative;
}

.loginPage2 .page-content {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -o-linear-gradient(328.3deg, rgb(41, 250, 239) 22.9%, rgba(67,212,255,1) 69%);
  background-image: linear-gradient(121.7deg, rgba(41,250,239,1) 22.9%, rgba(67,212,255,1) 69%);
  overflow: hidden;
}

.loginPage2 .page-content .loginProgress {
  height: 4px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 0;
}

.loginPage2 .page-content .loginBox {
  max-width: 380px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 50px #0000001f;
  box-shadow: 0px 9px 50px #0000001f;
}

.loginPage2 .page-content .loginBox .logoApp {
  position: relative;
  display: block;
}

.loginPage2 .page-content .loginBox .logoApp img {
  height: 72px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.loginPage2 .page-content .loginBox .logoApp .login-screen-title {
  margin-top: .375rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #125034;
  text-transform: uppercase;
}

.loginPage2 .page-content .loginBox .list li { margin-bottom: .5rem; }

.loginPage2 .page-content .loginBox .list .item-content { padding-left: 0; }

.loginPage2 .page-content .loginBox .list .item-input .item-inner { padding-right: 0; }

.loginPage2 .page-content .loginBox .loginActions { display: block; }

.loginPage2 .page-content .loginBox .loginActions .loginBtn {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginPage2 .page-content .loginBox .loginActions .loginBtn i { margin-right: .375rem; }

.loginPage2 .page-content .loginBox .loginActions .loginDivider {
  text-align: center;
  width: 100%;
  margin: .625rem 0;
}

.loginPage2 .page-content .loginBox .loginActions .googleBtn {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .25rem !important;
}

.loginPage2 .page-content .loginBox .loginActions .googleBtn > div {
  margin-right: .5rem !important;
  background: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 18px !important;
}

.loginPage2 .page-content .loginBox .loginFooter {
  margin: 0;
  text-align: center;
  padding-top: 3rem;
  color: #8d8d8d;
}

/* end of loginpage2 */

.animatedWave {
  width: 2000px;
  height: 2025px;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.13);
  pointer-events: none;
}

.animatedWave.wave--1 {
  -webkit-animation: wave 45s infinite linear;
  animation: wave 45s infinite linear;
  border-radius: 43%;
  bottom: -230%;
  left: 0;
}

.animatedWave.wave--2 {
  -webkit-animation: wave 32s infinite linear;
  animation: wave 32s infinite linear;
  border-radius: 50%;
  bottom: -240%;
  left: -50%;
}

.animatedWave.wave--3 {
  -webkit-animation: wave 20s infinite linear;
  animation: wave 20s infinite linear;
  border-radius: 50%;
  bottom: -240%;
  top: 40%;
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pilih_kota .smart-select .item-content .item-inner .item-title { display: none; }

.pilih_kota .smart-select .item-content .item-inner .item-after {
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding-left: 0px;
}

.link2 .link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.headerWidget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}

.headerWidget h2 {
  margin: 0;
  font-size: 14px;
  color: #8f8f94;
  font-weight: 400;
}

.pagination {
  margin-top: 44px;
  text-align:right;
}

.pagination li.active { font-weight: 700; }

.pagination li.active a{ color: #FF6B22; }

.onlyOnDesktop { display: block !important; }

.onlyOnMobile { display: none !important; }

@media only screen and (max-width: 768px) {
  .onlyOnDesktop { display: none !important; }

  .onlyOnMobile { display: block !important; }

  .page-content { padding-bottom: 60px; }

  .bgMain { height: 260px; }

  .titleMain img {
    height: 48px;
    margin-bottom: 0;;
  }

  .titleMain h2 { font-size: 1.5rem; }

  .titleMain h6 { font-size: .625rem; }

  .gridMenu {
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .gridMenu .link {
    width: auto;
    margin: 2%;
    max-width: 29.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.333333%;
    flex: 0 0 29.333333%;
  }

  .loginPage .page-content .loginBox {
    max-width: 320px;
    padding: 2rem 1.5rem;
  }

  .loginPage .page-content .loginBox .logoApp {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .loginPage .page-content .loginBox .logoApp img {
    height: 43px;
    width: 32px;
    margin: 0;
  }

  .loginPage .page-content .loginBox .logoApp .login-screen-title {
    margin-top: 0;
    font-size: 1.5rem;
    color: #125034;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: .625rem;
    font-weight: 700;
    margin-right: 0;
  }

  .loginPage .page-content .loginBox .loginActions .loginDivider {
    text-align: center;
    width: 100%;
    margin: .5rem 0;
    font-size: .75rem;
  }

  .loginPage .page-content .loginBox .loginFooter {
    margin: 0;
    text-align: center;
    padding-top: 2rem;
    color: #8d8d8d;
    font-size: .75rem;
  }

  .animatedWave.wave--1 {
    -webkit-animation: wave 45s infinite linear;
    animation: wave 45s infinite linear;
    border-radius: 43%;
    bottom: -150%;
    left: 70px;
  }

  .animatedWave.wave--2 {
    -webkit-animation: wave 32s infinite linear;
    animation: wave 32s infinite linear;
    border-radius: 50%;
    bottom: -190%;
    left: 30%;
  }

  .rekapitulasiProgres { margin-top: 8px; }

  .rekapitulasiProgres .rekapItem { padding: .625rem; }

  .rekapitulasiProgres .rekapItem .rekapDesc h4 { font-size: .75rem; }

  .rekapitulasiProgres .rekapItem .rekapDesc h5 { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

  .rekapitulasiProgres .rekapItem .rekapDesc h5 span i { display: block; }

  .rekapitulasiProgres .rekapItem .bgIcon {
    width: 115px;
    bottom: 10px;
    opacity: .05;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }

  .formRegisterWidget { display: none; }

  .riwayatPencarian {
    padding: .5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .riwayatPencarian .daftarRiwayat { margin-top: .5rem; }

  .riwayatPencarian .daftarRiwayat a:first-child { margin-left: 0; }

  .daftarPeserta .card .card-header { padding: .5rem .75rem; }

  .daftarPeserta .card .card-header a {
    font-size: .875rem;
    line-height: 1.2;
  }

  .daftarPeserta .card .card-header a h3 { font-size: .875rem; }

  .daftarPeserta .card .card-header a h3 b { display: block; }

  .daftarPeserta .card .card-content { padding: .75rem; }
  
  .daftarPeserta .card .card-content .tentangPeserta { font-size: .8125rem; }

  .daftarPeserta .card .card-content .tentangPeserta > span { min-width: 125px; }

  .daftarPeserta .card .card-footer {
    position: relative;
    padding: 0 .75rem .75rem;
  }

  .daftarSekolah .card .card-content .gambarSekolah {
    overflow: hidden;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    min-width: 42px;
    top: 5px;
    left: 12px;
    z-index: 2;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 50%;
  }

  .daftarSekolah .card .card-content .gambarSekolah img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  .daftarSekolah .card .card-content .tentangSekolah { padding: 0; }

  .daftarSekolah .card .card-content .tentangSekolah .link {
    padding-left: 64px;
    width: 100%;
    background-color: #007aff;
    background-image: -o-radial-gradient(84.6% 77.8%, circle farthest-corner, rgba(86,89,218,1) 0%, rgba(95,208,248,1) 90%);
    background-image: radial-gradient(circle farthest-corner at 84.6% 77.8%, rgba(86,89,218,1) 0%, rgba(95,208,248,1) 90%);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #fff;
    min-height: 52px;
    font-size: .875rem;
  }

  .daftarSekolah.daftarPdSekolah .card .card-content .tentangSekolah .link { 
    background-image: -o-linear-gradient(340.4deg, rgb(254, 245, 232) 11.2%, rgb(254, 255, 216) 100.2%);
    background-image: linear-gradient(109.6deg, rgb(254, 245, 232) 11.2%, rgb(254, 255, 216) 100.2%);
  }

  .daftarSekolah .card .card-content .tentangSekolah h3 {
    font-size: .875rem;
    margin: 0;
    display: block;
    min-height: auto;
    line-height: 1.2;
    color: #fff;
  }

  .daftarSekolah.daftarPdSekolah .card .card-content .tentangSekolah h3 { color: #ff6b22; }

  .daftarSekolah .card .card-content .tentangSekolah h3 span {
    margin-right: 0;
    display: block;
  }

  .daftarSekolah .card .card-content .tentangSekolah .row { padding: .5rem .75rem; }

  .daftarPeserta .card .card-footer .button {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
  }

  .daftarSekolah .card .card-footer {
    position: relative;
    padding: 0 .75rem .75rem;
  }

  .daftarSekolah .card .card-footer .button {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
  }

  .daftarKegiatan .card .card-header a { font-size: .75rem; }

  .daftarSekolah.daftarPdSekolah .sekolahStatistik { margin-top: .5rem; }

  .daftarKegiatan .judulKegiatan .tautanKegiatan .button {
    margin-left: .5rem;
    display: inline-block;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .daftarKegiatan .judulKegiatan .tautanKegiatan .button span { display: none; }

  .daftarKegiatan .card .card-footer {
    position: relative;
    padding: 0 .75rem .75rem;
  }

  .daftarKegiatan .card .card-footer .cardActions {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
  }

  .userProfile .userImage .userNameBlock .button { display: none; }

  .userProfile .profileActions { display: block; }

  .registrationDashboard .card-content .registrationItem { margin-bottom: 15px; }

  .registrationDashboard .card-header .link h3 span {
    display: block;
    font-size: 12px;
  }
}

.judul-jalur{
  padding: 5px;
  min-height: 10px;
  text-align: center;
  /* width: 100%; */
  display: block;
}

.no-urut{
  font-weight: bold;
  font-size: 30px;
}

.menu-saring-urut .menu-item-content .icon {
  margin-left: 4px;
}

.menu-pendaftar .menu-inner {
  display: inline-flex;
  text-align: right;
}

.bg-beranda-chart {
  margin: 5px;
  text-align: center;
  align-items: center;
}

.table-beranda table thead tr td, .table-beranda table tbody tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}